body {
	 background-image: url('../img/tie-dye-1.jpg'); /*Background downloaded from http://ahnganu.com/images/tie-dye-free-download-wallpaper-nq510/tie-dye-free-download-wallpaper-tst21 */
	 background-attachment: fixed;
	
}

header {
	position: fixed;
	background-color: #FFCC33;
	border-top:4px solid blue;
	border-bottom:4px solid blue;
	min-height: 80px;
	width: 100%;
}

.header-text {
	color: blue;
	text-align: center;
	font-family: 'Lobster';
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 0;
	
}
.assis {
	font-weight: normal;
}

nav {
	text-align: center;
	font-family: 'Lobster';
	font-size: 1.5em;
	padding-bottom: 20px;
	margin-top: 0%;

}

nav a {
	color: blue;
}

nav a:hover {
	color: red;
}

.interest {
	color: #000;
	text-align: center;
	line-height: 1.5;
	padding-top: 10%;
	padding-bottom: 1%;
	margin-bottom: 0px;	
}


/* Dragon image downloaded from http://www.freevector.com/dragon-tattoos-graphics/ (gloomus.com)*/
.dragon {
	max-height: 180px;
	padding-top: 26px;
}


#content {
	max-width: 50%;
}

#content legend {
	color: blue;
	font-family: 'Lobster';
	font-size: .75em;
	text-indent: 2px;
}

.ask {
	color: blue;
	margin-bottom: 40px;
	padding-left: 1em;

}

.ask a {
	color: white;

}

.ask a:hover {
	color: red;
}

.ask, .contact, .hiring, .other, .demo {

	color: #000;	
	background-color: #FFCC33;
	border: 4px solid blue;
	margin-top: 20px;
	text-align: left;
	line-height: 1.5;
	
}

/* Radio and Checkbox Styling*/



hr {
	border: 1px solid blue;
}

.submit {
	font-family: 'Lobster';
	font-size: 1.2em;
	min-width: 100px;
	min-height: 50px;
	color: blue;
	background-color: #FFCC33;
	border: 2px solid blue;
	margin-bottom: 40px;
}

/* Media Queries */

@media(max-width: 1400px){
	#content {
		max-width: 75%;
	}
}

@media(max-width: 1400px){
	.dragon {
		max-height: 120px;
	}
}

@media(max-width: 1400px){
	.header-text {
		font-size: 1.7em;
	}
}


@media(max-width: 1400px){
	nav {
		font-size: 1.2em;
	}
}

@media(max-width: 700px){
	.interest {
		font-size: .9em;
		padding-top: 20%;
	}
}

@media(max-width: 458px){
	.interest {
		font-size: .9em;
		padding-top: 50%;
		margin-left: 10px;
	}
}

@media(max-width: 300px){
	.interest {
		font-size: .6em;
		padding-top: 50%;
	}
}

